{% extends 'base.html.twig' %}

{% block title %}
	Détail du covoiturage -
	{{ trip.departureCity.name }}
	→
	{{ trip.arrivalCity.name }}
{% endblock %}

{% block body %}
	<div data-controller="participation" data-participation-target="container" data-participation-detail-url-value="{{ path('app_trip_detail', {id: trip.id, slug: slug}) }}">
		{% include 'trip_public/_detail_partial.html.twig' %}
	</div>
{% endblock %}