{% extends 'base.html.twig' %}

{% block title %}Accueil EcoRide
{% endblock %}

{% block body %}
	<div class="container pt-5">
		<h1>Ca marche</h1>
	</div>
	{% include "shared/_footer_second.html.twig" %}
{% endblock %}