{% extends 'base.html.twig' %}

{% block title %}Accueil EcoRide
{% endblock %}

{% block body %}
	<div class="d-flex flex-column flex-grow-1">
		{% include "partials/_presentation.html.twig" %}
		{% include "partials/_articles.html.twig" %}
	</div>
	{% include "shared/_footer_second.html.twig" %}
{% endblock %}
