<div class="tsvem6">
	<div class="h-100">
		<section class="nyp3wr">
			<div class="e4l3hk"></div>
			<div class="mvzb7z"></div>
			<div class="f12t1m0s">
				<section>
					<header>
						<h2 class="meu8g3 j3konz text-center">À lire pour adopter un mode de vie plus éco-responsable</h2>
						<p class="text-small pt-3 description text-light text-center">Voici quelques articles intéressants pour mieux comprendre l’impact de nos choix quotidiens et adopter des pratiques plus respectueuses de l'environnement.</p>
					</header>
				</section>
				<div class="atm_dl_1mvrszh atm_10yczz8_kb7nvz atm_1d13e1y_p5ox87 atm_yrukzc_1od0ugv atm_9s_11p5wf0 atm_d7_1ymvx20 atm_d5_j5tqy atm_dz_hxz02 atm_10yczz8_cs5v99__1ldigyt atm_10yczz8_11wpgbn__1v156lz atm_10yczz8_egatvm__qky54b atm_10yczz8_qfx8er__1xolj55 atm_10yczz8_ouytup__w5e62l js-filter-content">
					<div>
						<div class="c4mnd7m atm_9s_11p5wf0 atm_dz_1osqo2v">
							<div class="c1l1h97y">
								<div class="cy5jw6o">
									<div class="lxq01kf">
										<div class="m1v28t5c">
											<div class="c14dgvke">
												<div class="c1e9noat atm_9s_11p5wf0 atm_dx_1orwtfw">
													<div class="fb4nyux">
														<span class="t6mzqp7">
															<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="dark" class="bi bi-globe-americas" viewbox="0 0 16 16">
																<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
															</svg>
														</span>
														<hr>
														<h4 class="text-center">10 gestes simples pour protéger l'environnement</h4>
														<span class="jc464b">
															Découvrez des actions quotidiennes faciles à adopter pour réduire votre impact environnemental, comme limiter la consommation d'eau et d'énergie, ou encore réduire et recycler vos déchets.
														</span>
														<a href="https://institut-superieur-environnement.com/blog/top-10-des-gestes-simples-pour-proteger-lenvironnement/" class="card-link text-success" rel="lien vers une autre page">Lire l'article</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="c4mnd7m atm_9s_11p5wf0 atm_dz_1osqo2v">
							<div class="c1l1h97y">
								<div class="cy5jw6o">
									<div class="lxq01kf">
										<div class="m1v28t5c">
											<div class="c14dgvke">
												<div class="c1e9noat atm_9s_11p5wf0 atm_dx_1orwtfw">
													<div class="fb4nyux">
														<span class="t6mzqp7">
															<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-car-front-fill" viewbox="0 0 16 16">
																<path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
															</svg>
														</span>
														<hr>
														<h4 class="text-center">Le covoiturage en France : avantages et réglementation</h4>
														<span class="jc464b">
															Explorez les bénéfices du covoiturage, tant sur le plan économique qu'écologique, et informez-vous sur la réglementation en vigueur en France.
														</span>
														<a href="https://www.ecologie.gouv.fr/politiques-publiques/covoiturage-france-ses-avantages-reglementation-vigueur" class="card-link text-success" rel="lien vers une autre page">Lire l'article</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="c4mnd7m atm_9s_11p5wf0 atm_dz_1osqo2v">
							<div class="c1l1h97y">
								<div class="cy5jw6o">
									<div class="lxq01kf">
										<div class="m1v28t5c">
											<div class="c14dgvke">
												<div class="c1e9noat atm_9s_11p5wf0 atm_dx_1orwtfw">
													<div class="fb4nyux">
														<span class="t6mzqp7">
															<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bicycle" viewbox="0 0 16 16">
																<path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5m1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139zM8 9.057 9.598 6.5H6.402zM4.937 9.5a2 2 0 0 0-.487-.877l-.548.877zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53z"/>
															</svg>
														</span>
														<hr>
														<h4 class="text-center">Les mobilités durables et douces en entreprise</h4>
														<span class="jc464b">
															Découvrez comment les entreprises peuvent encourager des modes de transport écologiques comme le vélo, le covoiturage ou les transports en commun pour réduire leur empreinte carbone.
														</span>
														<a href="https://www.eliapp.io/blog/les-mobilites-durables-et-douces-en-entreprise-transports-en-commun-covoiturage-velo-et-marche-cest-parti" class="card-link text-success" rel="lien vers une autre page">Lire l'article</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="c4mnd7m atm_9s_11p5wf0 atm_dz_1osqo2v">
							<div class="c1l1h97y">
								<div class="cy5jw6o">
									<div class="lxq01kf">
										<div class="m1v28t5c">
											<div class="c14dgvke">
												<div class="c1e9noat atm_9s_11p5wf0 atm_dx_1orwtfw">
													<div class="fb4nyux">
														<span class="t6mzqp7">
															<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-tree-fill" viewbox="0 0 16 16">
																<path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777z"/>
															</svg>
														</span>
														<hr>
														<h4 class="text-center">Les gestes simples pour consommer plus responsable</h4>
														<span class="jc464b">
															Apprenez des gestes simples pour adopter une consommation plus responsable, comme privilégier les produits locaux et de saison, ou encore réduire le gaspillage alimentaire.
														</span>
														<a href="https://www.economie.gouv.fr/particuliers/gestes-consommer-responsable" class="card-link text-success" rel="lien vers une autre page">Lire l'article</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
