<div class="d-flex justify-content-between align-items-center mb-2 gap-1">
	<small>Complexité du mot de passe :
		<span id="entropy" class="text-very-weak">Très faible</span>
		(la complexité minimale acceptée est "Fort")</small>
	<button id="generate-password" class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1 w-50">
		<i class="bi bi-shuffle"></i>
		<span>Générer</span>
	</button>
</div>
