<div class="tsvem6">
	<div class="h-100">
		<section class="nyp3wr">
			<div class="akxz6q"></div>
			<div class="x7or5j"></div>
			<div class="s453xb">
				<section>
					<header>
						<h2 class="meu8g3 j3konz text-center">Bienvenue sur EcoRide</h2>
					</header>
					<div class="gu697c">
						<p class="s4qsx4">
							<strong>Roulez autrement, roulez éco-responsable !
							</strong>
							<br>
							EcoRide est bien plus qu'une simple plateforme de covoiturage. Notre mission est de révolutionner la mobilité en offrant une alternative écologique, économique et conviviale aux trajets du quotidien.
						</p>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>
<div class="tsvem6">
	<div class="h-100">
		<section class="wdrbpf">
			<div class="container-programs">
				<div class="content-programs">
					<div class="items-programs">
						<section class="item-program">
							<div class="img-program">
								<img src="{{ asset('img/img_ville.jpg') }}" alt="Image de ville" class="program-img">
							</div>
							<div class="program-content">
								<div class="text-start">
									<header>
										<h2 class="title-program">Pourquoi choisir EcoRide ?</h2>
									</header>
									<div class="content-program">
										<b>Réduisez votre empreinte carbone :
										</b>Partagez vos trajets et contribuez à la diminution des émissions de CO2.
										<br>
										<b>Faites des économies :
										</b>Divisez vos frais de transport en partageant le coût du carburant et des péages.
										<br>
										<b>Rencontrez des personnes engagées :
										</b>Faites de chaque trajet un moment de partage et d'échange.
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="items-programs">
						<section class="item-program">
							<div class="program-content">
								<div class="text-start">
									<header>
										<h2 class="title-program">Comment ça marche ?</h2>
									</header>
									<div class="content-program">
										<b>1. Publiez ou recherchez un trajet :
										</b>Indiquez votre destination et consultez les propositions disponibles.
										<br>
										<b>2. Choisissez votre covoitureur :
										</b>Consultez les profils et avis des autres utilisateurs.
										<br>
										<b>3. Voyagez sereinement :
										</b>Retrouvez-vous au point de rendez-vous et profitez d'un trajet à moindre impact environnemental.
									</div>
								</div>
							</div>
							<div class="img-program">
								<img src="{{ asset('img/img_ville1.jpg') }}" alt="Image de ville" class="program-img">
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
