<form method="post" action="{{ path('app_trip_complete', { id: trip.id }) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('complete' ~ trip.id) }}">
    <button type="submit" class="btn btn-primary">
        Arrivée à destination
    </button>
</form>