<form method="post" action="{{ path('app_trip_start', { id: trip.id }) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('start' ~ trip.id) }}">
	<button type="submit" class="btn btn-success">
		Démarrer le trajet
	</button>
</form>