{% extends 'base.html.twig' %}
{% block title %}Préférences de voyage
{% endblock %}

{% block body %}
    <div class="tf42e5">
        <div class="zki23p">
            {% include 'travel_preference/_recap.html.twig' with {preference: preference} %}
        </div>
    </div>
{% endblock %}