@font-face {
    font-family: AirbnbCereal;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/AirbnbCereal_W_Lt.otf);
    font-display: swap;
}

body {
    background-color: skyblue;
    font-family: AirbnbCereal, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/*--------------------------------------------------------------
# Newsletter && About && footer && legal
--------------------------------------------------------------*/
.newsletter,
.about {
    position: relative;
    overflow: hidden;
}

.container-news,
.container-about,
.container-footer,
.container-legal {
    position: relative;
    margin: 0px auto;
    z-index: 1;
    padding: 40px 20px;
    width: auto;
    font-size: 18px;
}

@media (min-width: 768px) {

    .container-news,
    .container-about,
    .container-footer,
    .container-legal {
        width: 750px;
    }
}

@media (min-width: 992px) {

    .container-news,
    .container-about,
    .container-footer,
    .container-legal {
        width: 970px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1200px) {

    .container-news,
    .container-about,
    .container-footer,
    .container-legal {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.wrap-news,
.wrap-about {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

@media (min-width: 768px) {

    .wrap-news,
    .wrap-about {
        flex-wrap: nowrap;
    }
}

.content-news,
.content-about {
    flex: 1 1 100%;
    width: 100%;
}

@media (min-width: 768px) {

    .content-news,
    .content-about {
        flex-basis: 50%;
    }
}

.title-news,
.title-about,
.title-legal {
    letter-spacing: 0em;
    line-height: 1.25;
    text-transform: none;
    font-size: 36px;
    font-weight: 400 !important;
    margin: 0px;
    color: rgb(13, 22, 27);
}

.content-news,
.content-about {
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 1.75;
    text-transform: none;
    font-weight: 500 !important;
    text-align: center;
    margin-top: 12px;
    color: rgb(13, 22, 27);
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    white-space: initial;
}

.form-news {
    display: flex;
    margin-top: 24px;
    justify-content: center;
    text-align: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.content-sign-up-form {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .content-sign-up-form {
        flex-wrap: nowrap;
    }
}

@media (min-width: 992px) {
    .content-sign-up-form {
        flex-wrap: nowrap;
    }
}

.input-row {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.submit-news {
    letter-spacing: 0em;
    line-height: 1.75;
    text-transform: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition-property: transform, box-shadow;
    transition-duration: 0.35s;
    outline: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #428bca;
    color: rgb(255, 255, 255);
    font-weight: 500 !important;
}

.input-email {
    letter-spacing: 0em;
    line-height: 1.75;
    padding: 12px 20px;
    font-size: 18px;
    color: rgb(26, 38, 45);
    border: 1px solid rgba(26, 38, 45, 0.4);
    outline: none;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    font-weight: 500 !important;
    width: 100%;
}

@media (min-width: 768px) {
    .input-email {
        width: auto;
    }
}

@media (min-width: 768px) {
    .input-email {
        width: 100%;
    }
}

.input-email:not([disabled]):focus,
.input-email:not([disabled]):active {
    border: 1px solid rgba(26, 38, 45, 0.8);
    box-shadow: rgba(26, 38, 45, 0.2) 0px 0px 0px 3px;
}

.submit-news {
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    .submit-news {
        flex: 0 0 100%;
    }
}

@media (min-width: 768px) {
    .submit-news {
        flex: 0 0 auto;
    }
}

@media (min-width: 992px) {
    .submit-news {
        flex: 0 0 auto;
    }
}

.submit-news:not([disabled]):hover {
    box-shadow: rgba(31, 35, 65, 0.37) 0px 20px 30px -11px;
    transform: translate(0px, -5px);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.text-news {
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 1.75;
    text-transform: none;
    font-weight: 500 !important;
    margin-top: 8px;
    color: rgb(13, 22, 27);
}

/*--------------------------------------------------------------
# footer && legal notice
--------------------------------------------------------------*/
.footer,
.legal {
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.legal-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    margin-top: 20px;
}

.legal-footer-rgpd {
    padding-left: 24px;
    margin: 0px;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
}

.link-to-legal {
    text-decoration: none;
    font-size: 14.4px;
    letter-spacing: 0em;
    line-height: 1.75;
    text-transform: none;
    color: rgba(13, 22, 27, 0.4);
    font-weight: 400 !important;
}

.link-to-legal:hover {
    text-decoration: underline;
}

.copy-footer {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    border-radius: 4px;
    padding: 6px 12px;
    margin-top: 48px;
}

.logo__mark {
    align-items: center;
    display: inline-flex;
    margin-right: 5px;
}

.logo__mark .greater-icon {
    height: 100%;
    width: 0.95rem;
}

.logo__text {
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: unset;
    color: rgb(110, 116, 119);
    font-weight: 400 !important;
}

.logo__cursor {
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
    background: rgb(52, 96, 206);
    border-radius: 1px;
    display: inline-block;
    height: 1rem;
    margin-left: 5px;
    width: 10px;
}

.vertical-bar {
    width: 1px;
    height: 16px;
    background: rgb(213, 215, 217);
    margin: 0px 12px;
}

.content-legal {
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 1.75;
    text-transform: none;
    font-weight: 500 !important;
    margin-top: 12px;
    color: rgb(13, 22, 27);
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    white-space: initial;
}

.content-legal a {
    color: rgb(13, 22, 27);
    text-decoration: underline;
}

.content-legal a:hover {
    opacity: 0.75;
}

.container-footer-second {
    position: relative;
    margin: 0px auto;
    z-index: 1;
    padding: 40px 20px;
    max-width: 1440px;
    width: 100%;
    font-size: 18px;
}

@media (min-width: 768px) {
    .container-footer-second {
        width: auto;
    }
}

@media (min-width: 992px) {
    .container-footer-second {
        width: auto;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 1200px) {
    .container-footer-second {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@-webkit-keyframes cursor {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes cursor {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}