{% extends 'base.html.twig' %}

{% block title %}Où allez-vous ?
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="mb-4">Où allez-vous ?</h1>

        {{ form_start(form, { attr: { 'data-controller': 'address-formatter' }}) }}
        <div class="form-group text-danger">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.arrivalAddress) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            Continuer
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}