{% extends 'base.html.twig' %}

{% block title %}Heure de départ
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h1 class="mb-4">À quelle heure partez-vous ?</h1>
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_errors(form) }}
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.departureTime) }}
			</div>
		</div>
		<button type="submit" class="btn btn-primary mt-3">
			Continuer
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}