<p>Bonjour {{ user.firstname }},</p>
<p>Votre code de vérification est <strong>{{ authCode }}</strong>.</p>
<p>Ce code expirera dans 30 minutes. Pour l'utiliser, veuillez le coller sur la page de connexion pour continuer à vous connecter. Si vous n'avez pas demandé ce code, vous pouvez l'ignorer sans risque.</p>
<p><strong>Vous avez des problèmes avec le code ?</strong> Vérifiez les fautes de frappe, y compris les espaces avant ou après. Veuillez noter qu'un nouveau code sera généré si vous rechargez la page de connexion ou si vous y accédez depuis un nouvel onglet ou un nouveau navigateur.</p>
<p>Merci !</p>
<p>L'administrateur</p>