<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Ecoride</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				{% if app.user %}
					<div class="btn-group">
						<button class="dropdown-toggle btn-dropdown-user" type="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
							<div class="sc-gravatar">
								<img src="{{ vich_uploader_asset(app.user.avatar, 'imageFile') }}" class="sc-img-gravatar">
							</div>
						</button>
						<ul class="dropdown-menu dropdown-menu-lg-end py-0">
							<li class="py-2 px-2">
								<a class="dropdown-item dropdown-user color-btn-logout" href="{{ path('app_logout') }}">Se déconnecter</a>
							</li>
						</ul>
					</div>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{ path('app_login') }}" class="btn btn-primary btn-connect">Se connecter</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div></nav>
